@page
@model Gameapp.Areas.Admin.Pages.Items.ItemDetailsModel

@{
    ViewData["Title"] = "ItemDetails";
    
  
}


<div class="card">
<div class="card-header d-flex justify-content-between">
    <h3 style="margin-top:9px; color:#4b49ac">@sharedResource["Details"]  </h3>
    <a class="btn btn-info" style="background-color:#4b49ac !important; border:none" href="/admin/ShopDetails?id=@Model.Items.ShopId">@sharedResource["Back"]</a>
</div>
<div style="padding-top:20px;padding-left:20px;padding-right:20px">

<div class="details_container">
    <h4>@sharedResource["Items"]</h4>
    <hr />
    <dl class="row details_tb">
        <dt class="col-sm-2">
            @sharedResource["Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.ItemName)
        </dd>
        <dt class="col-sm-2">
            @sharedResource["Picture"]
        </dt>
        <dd class="col-sm-10">
            <img style="width:120px; height:120px" src="~/Images/@Model.Items.ItemImage" />
        </dd>
        <dt class="col-sm-2">
            @sharedResource["Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.ItemDescription)
        </dd>
        <dt class="col-sm-2">
            @sharedResource["Price"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.ItemPrice)
        </dd>
        <dt class="col-sm-2">
            @sharedResource["IsActive"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.IsActive)
        </dd>
                               <dt class="col-sm-2">
                    @sharedResource["OutOfStock"]
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Items.OutOfStock)
                </dd>
        <dt class="col-sm-2">
            @sharedResource["Sort"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.OrderIndex)
        </dd>
        <dt class="col-sm-2">
            @sharedResource["Favourite"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.IsFavourite)
        </dd>
        <dt class="col-sm-2">
            @sharedResource["Category"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.Category.CategoryTlar)
        </dd>
        <dt class="col-sm-2">
            @sharedResource["Customer"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.Customer.CustomernameAr)
        </dd>
        <dt class="col-sm-2">
            @sharedResource["Shop"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.Shop.ShopTlar)
        </dd>
        <dt class="col-sm-2">
            @sharedResource["SubCategory"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items.SubCategory.SubCategoryTlar)
        </dd>
    </dl>
</div>

</div></div>