@page
@model ResetPasswordModel
@{
    ViewData["Title"] = sharedResource["ResetPassword"];
    Layout = "/Areas/Admin/Pages/Shared/_Layout.cshtml";
}


<div class="card w-100">
<div class="card-header">
    <h3 style="margin-top:9px; color:#4b49ac"> @sharedResource["ResetPassword"]</h3>
</div>

    <div style="padding-top:20px;padding-left:20px;padding-right:20px">

        <h4>@sharedResource["ResetPassword"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group">
                        <label >@sharedResource["Email"]</label>
                        <input asp-for="Email" class="form-control" readonly/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@sharedResource["Password"]</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label >@sharedResource["ConfirmPassword"]</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">@sharedResource["Reset"]</button>
                </form>
    </div>
</div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
