@page
@model Gameapp.Areas.Admin.Pages.HomeSliders.DetailsModel
@{
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3 style="margin-top:9px; color:#4b49ac"> @sharedResource["Details"]  @sharedResource["HomeSlider"] </h3>
        <a class="btn btn-info" style="background-color:#4b49ac !important; border:none" href="/admin/homesliders/index">@sharedResource["Back"]</a>
    </div>
    <div style="padding-top:20px;padding-left:20px;padding-right:20px">
        <div class="row">
            <div class="col-md-12 col-lg-6 mt-4">
                <h4>@sharedResource["Informations"] </h4>
                <hr />



                @{ if (Model.slider.SliderTypeId == 4)
                    {
                        <div class="d-flex justify-content-between">
                            <div> @sharedResource["Arabic Type Title"] </div>
                            <div> @Model.slider.SliderType.SliderTypeTlar </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div> @sharedResource["English Type Title"] </div>
                            <div> @Model.slider.SliderType.SliderTypeTlen </div>
                        </div>

                    }

                    else if (Model.slider.SliderTypeId == 5)
                    {
                        <div class="d-flex justify-content-between">
                            <div> @sharedResource["Arabic Type Title"] </div>
                            <div> @Model.slider.SliderType.SliderTypeTlar </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div> @sharedResource["English Type Title"] </div>
                            <div> @Model.slider.SliderType.SliderTypeTlen </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>@sharedResource["Name"]  </div>
                            <div> @Model.EntityNameEn </div>
                        </div>

                    }
                    else
                    {
                        <div class="d-flex justify-content-between">
                            <div> @sharedResource["Arabic Type Title"] </div>
                            <div> @Model.slider.SliderType.SliderTypeTlar </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div> @sharedResource["English Type Title"] </div>
                            <div> @Model.slider.SliderType.SliderTypeTlen </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>@sharedResource["NameAr"]  </div>
                            <div> @Model.EntityNameAr </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div>@sharedResource["NameEn"]  </div>
                            <div> @Model.EntityNameEn </div>
                        </div>
                    }
                }

                <div class="d-flex justify-content-between">
                    <div>@sharedResource["Picture"]  </div>
                    <div class="Details_img">
                        <img style="border-radius: 13%;" width="250" height="250" class="img-fluid" src="~/Images/@Model.slider.Pic" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var form
    function onFormInitialized(e) {

        form = e.component;
        var sliderTypeId =@Model.slider.SliderTypeId;

        if (sliderTypeId === 1) {
            //item
            form.itemOption("Item", "visible", true);
            form.itemOption("Champion", "visible", false);
            form.itemOption("Shop", "visible", false);
            form.itemOption("URL", "visible", false);
            $("#ItemId").val(@Model.EntityId);

        }
        if (sliderTypeId === 2) {
            //shop

            form.itemOption("Item", "visible", false);
            form.itemOption("Shop", "visible", true);
            form.itemOption("Champion", "visible", false);
            form.itemOption("URL", "visible", false);
            $("#ShopId").val(@Model.EntityId);

        }

        if (sliderTypeId === 3) {
            //Champion
            form.itemOption("Item", "visible", false);
            form.itemOption("Shop", "visible", false);
            form.itemOption("Champion", "visible", true);
            form.itemOption("URL", "visible", false);
            $("#ChampionId").val(@Model.EntityId);

        }
        if (sliderTypeId === 4) {
            //nothing
            form.itemOption("Item", "visible", false);
            form.itemOption("Champion", "visible", false);
            form.itemOption("Shop", "visible", false);
            form.itemOption("URL", "visible", false);
        }
        if (sliderTypeId === 5) {
            //URL
            form.itemOption("Item", "visible", false);
            form.itemOption("Champion", "visible", false);
            form.itemOption("Shop", "visible", false);
            form.itemOption("URL", "visible", true);
        }
    }

    function ChampionValueChanged(data) {
        $("#ChampionId").val(data.selectedItem.Value);
    }

    function ItemValueChanged(data) {
        $("#ItemId").val(data.selectedItem.Value);
    }
    function ShopValueChanged(data) {
        $("#ShopId").val(data.selectedItem.Value);
    }

    function onValueChanged(e) {

        if (e.value === 1) {
            //item
            form.itemOption("Item", "visible", true);
            form.itemOption("Champion", "visible", false);
            form.itemOption("Shop", "visible", false);
            form.itemOption("URL", "visible", false);
        }
        if (e.value === 2) {
            //shop

            form.itemOption("Item", "visible", false);
            form.itemOption("Shop", "visible", true);
            form.itemOption("Champion", "visible", false);
            form.itemOption("URL", "visible", false);
        }

        if (e.value === 3) {
            //shop
            form.itemOption("Item", "visible", false);
            form.itemOption("Shop", "visible", false);
            form.itemOption("Champion", "visible", true);
            form.itemOption("URL", "visible", false);
        }
        if (e.value === 4) {
            //nothing
            form.itemOption("Item", "visible", false);
            form.itemOption("Champion", "visible", false);
            form.itemOption("Shop", "visible", false);
            form.itemOption("URL", "visible", false);
        }
        if (e.value === 5) {
            //URL
            form.itemOption("Item", "visible", false);
            form.itemOption("Champion", "visible", false);
            form.itemOption("Shop", "visible", false);
            form.itemOption("URL", "visible", true);
        }


    }

    </script>
